.settings-page {
  .ant-tabs-nav {
    margin-bottom: 0;
  }
  .ant-tabs-content-top {
    border: 1px solid #f1f1f1;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 0;
  }
}